
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: fit-content;
    border: 2px solid black;
    padding: 30px 10px ;
    margin: 30px auto;
}

form label{
    font-weight: bold;
}