
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: fit-content;
    border: 2px solid black;
    padding: 30px 10px ;
    margin: 30px auto;
}

form label{
    font-weight: bold;
}

.quantity-many{
    width: 100px;
}

th, td {
    padding: 8px; /* Add padding to create space between content and cell borders */
    text-align: left;
    border: 1px solid black;
}