extends ../template.pug 

block stylesheet 
    style 
        include ../css/product.css 


block header 

block contents
    div(class="container-fluide")
        div(class="row")
            



block JavaScript
    script(src="/static/js/product.js")        
